.sub-header-wrapper {
    border-bottom: 1px solid #ededed;
    .sub-header-container {  
        margin: 0 auto;
        max-width: 1349px;
        display: flex;
        font-size: 12.4px;
        letter-spacing: 0.25px;
        font-weight: 700;
        justify-content: space-between;
        .sub-header-menu-list {
            padding: 7.8px 10px 6px 10px;
            margin: 0;
            margin-left: 6.13%;
            width: 50%;
            display: flex;
            a {
                color: rgba(60, 55, 53, 0.58) !important;
            }
            .sub-header-menu-item{
                list-style: none;
                padding-top: 4px;
                padding-bottom: 6px;
                padding-right:24px;
                padding-left: 8.5px;
            }
        }
        .sub-header-options-wrapper {
            .ui.dropdown>.dropdown.icon:before{
                display: none;
            }
            display: flex;
            justify-content: flex-end;
            padding-right: 102px;
            .sub-header-options-currency{
                padding: 12px 30px 0px 10px;
                margin-left: 20px;
                position: relative;
                .sub-header-tick{
                    position: absolute;
                    bottom:19px;
                    right: 20px;
                }
            }
            .sub-header-options-languages{
                width:57px;
                padding: 12px 5px 0px 19px;
                border-left: 1px solid #ededed;
                position: relative;
                .sub-header-tick{
                    position: absolute;
                    bottom:19px;
                    right: 5px;
                }
            }
        }
    }
}